* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubrik", serif;
}

body {
    background-color: #56b8c9;
}

.wrapper {
    width: 80vmin;
    padding: 50px 40px;
    background-color: rgb(242, 216, 185);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 13px;
    box-shadow: 20px 20px 40px rgba(2, 78, 126, 0.4);
}

span {
    display: block;
    text-align: center;
    font-size: 100px;
    animation: wink 1.6s infinite;
}

@keyframes wink {
    0% {
        transform: scale(1) rotate(0deg);
    }

    50% {
        transform: scale(1.2) rotate(10deg);
    }

    100% {
        transform: scale(1) rotate(0deg);
    }
}

p {
    font-size: 17px;
    color: #000000;
    font-weight: 400;
    text-align: center;
    word-wrap: break-word;
    line-height: 35px;
    margin: 30px 0;
    opacity: 0;
}

.fade {
    opacity: 1;
    transition: opacity 1.5s ease-in;
}

button {
    display: block;
    background-color: rgb(92, 176, 179);
    border: none;
    padding: 5px;
    font-size: 18px;
    color: #ffffff;
    padding: 12px 25px;
    margin: 0 auto;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 20px 20px 20px rgba(141, 113, 61, 0.4);


}






